**/data/**
website/data/**
!weather.ini
website/raw/**
pywws-src/**
pi/temp/**
__pycache__/**
dummyUsbDevice/__pycache__/**
mmwws/sampledata/
mmwws/__pycache__/
mmwws/testdata/
**/*.log
mmwws/weathersites.ini
**/__pycache__
**/weather.ini
**/*.pyc
apis_services/weatherapi/weatherapi.keys
apis_services/weatherapi/server.*
testingcontainer/keys/*
testingcontainer/ssh/*
*/.terraform.lock.hcl
*/.terraform/
*/terraform.tfstate*
apis_services/retired/weatherapi/server.crt
apis_services/retired/weatherapi/server.key
BatteryMonitorV2/build/
secrets.h
apis_services/diskspacechecks/testConfig.py
BatteryMonitorV2/sitespecific.h
BatteryMonitorV2/sitespecific*.h
raspberry-noaa-tweaks/post_to_twitter.py
