[Unit]
Description=Get Wunderground Data 
After=network.target

[Service]
User=pi
Group=pi
ExecStart=SRCDIR/getBresserData.sh
ExecStop=/usr/bin/touch SRCDIR/stopwu
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

# copy this file to /lib/systemd/system/ then run
# sudo systemctl daemon-reload && sudo systemctl enable getwu && sudo systemctl start getwu