gitpython
paramiko
numpy
matplotlib
pyephem
cython
scipy
Pillow
astropy
configparser
requests
paho-mqtt
pandas
pytest
pytest-cov
python-openhab
backoff
smbus
bme280
flask
seaborn
boto3
#imageio
#pyyaml
#pyarrow
