[Unit]
Description=pywws weather station live logging
After=time-sync.target

[Service]
Type=simple
User=pi
Restart=on-failure
ExecStart=/usr/local/bin/pywws-livelog -vvv -l /home/pi/log/livelog.log /home/pi/weather/data/

