[Unit]
Description=Get WH1080 data from Rtl433
After=network.target

[Service]
ExecStart=/home/pi/source/wh1080_rtl433/runwh1080_433.sh
ExecStop=/home/pi/source/wh1080_rtl433/stopwh1080_433.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

# copy this file to /lib/systemd/system/ then run
# sudo systemctl daemon-reload && sudo systemctl enable getwu && sudo systemctl start getwu