[Unit]
Description=Get Weatherstation Data
After=network.target

[Service]
ExecStart=/home/bitnami/src/getweatherdata/startGetData.sh
ExecStop=/home/bitnami/src/getweatherdata/stopGetData.sh
Restart=always
RestartSec=5
User=bitnami

[Install]
WantedBy=multi-user.target

# copy this file to /lib/systemd/system/ then run
# sudo systemctl daemon-reload && sudo systemctl enable getweatherdata && sudo systemctl start getweatherdata