[Unit]
Description=Runn bresser hourly rain calculator
After=syslog.target

[Service]
ExecStart=SRCDIR/getBressRain.sh

[Install]
WantedBy=multi-user.target
