# copyright Mark McIntyre, 2023

[Unit]
Description=Push data from WH1080 to MQTT
After=network.target

[Service]
ExecStart=/home/pi/source/maplin2mq/wh1080_mq.sh
ExecStop=/usr/bin/touch /home/pi/weather/stopwhfwd
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

# copy this file to /lib/systemd/system/ then run
# sudo systemctl daemon-reload && sudo systemctl enable getwu && sudo systemctl start getwu